<DOCTYPE html>

<html ng-app>
   <head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<!-- Incluir Bootstrap -->
   	<link rel="stylesheet" href="css/bootstrap.min.css"


   	<!-- Incluir AngularJS -->
   	<script src="js/lib/angular.min.js"></script>
   
   </head>

   <body>

   	<div class="container">
   		
         <h1>ng-model</h1>
         <h4>en Angular js</h4>
         <hr>
         Nombre completo:
         <br>
         <p>
            <input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre">
         </p>
         Lugar de trabajo:
         <br>
            <input type="text" ng-model="trabajo" class="form-control" placeholder="Ingrese su lugar de trabajo">  
         </p>
         Salario en Euros:
         <br>
            <input type="text" ng-model="salario" class="form-control" placeholder="Ingrese su salario">
      </div>

      <br><br>

      <div class="container">
         
         Nombre: {{ nombre | uppercase }}
         <br>
         Lugar de trabajo: {{ trabajo | uppercase }}
         <br>
         Salario: {{ salario | currency:"€" }}

      </div>


   </body>
</html>